.skip a{
    position: absolute;
    left:10000px;
    top: auto;
    width: 1px;
    height: 1px;
    background-color: white;
}

.skip a:focus{
    position: static;
    width: auto;
    height: auto;
    background-color: white;
}

a:hover{
    /* outline: solid #05445e 2px; */
    outline: solid #b2ebf2 2px;
    
}  